
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.profileText {
  font-size: 2.25rem; /* text-4xl */
}

.profileId {
  padding: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  background-color: #ed8936; /* orange-500 */
  color: black;
}
